<%= form_for :citizen, url: citizens_path do |f| %>
  <% if @citizen.errors.any? %>
  <div id="error_explanation">
    <h2>Off with his head!</h2>
    <ul>
    <% @citizen.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :birthdate %><br>
    <%= f.date_field :birthdate %>  
  </p>

   <p>
    <%= f.label :father %><br>
    <%= f.text_field :father %>
  </p>
  
   <p>
    <%= f.label :mother %><br>
    <%= f.text_field :mother %>
  </p>
  
   <p>
    <%= f.label :profession %><br>
    <%= f.text_field :profession %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
