<div>
  Name:
  <%= @citizen.name %>
</div>

<div>
  Birthdate:
  <%= @citizen.birthdate %>
</div>

<div>
  Father:
  <%= @citizen.father %>
</div>

<div>
  Mother:
  <%= @citizen.mother %>
</div>

<div>
  Profession:
  <%= @citizen.profession %>
</div>

